###############################################
############## MAGIC DOORS ####################
###############################################



############## DEBUG ##########################
locale: en
debug: false
log.recipes.enable: false


############## MAGIC DOOR SETTINGS ############
magic.doors.recipe.name.root.door: root-door
magic.doors.recipe.name.owned.root.door: owned-root-door
magic.doors.recipe.name.door.copy: root-door-copy
magic.doors.recipe.name.door.key: door-key
magic.doors.recipe.name.skeleton.key: skeleton-key

  





############## RECIPES ############
recipes-settings.continuous-translation: true

recipes:
  - root-door
  - owned-root-door
  - root-door-copy
  - door-key
  - skeleton-key


###############################################
#################### ITEMS ####################
###############################################


################## BEGIN Root Door ############
recipe.root-door.name: √Root Door
recipe.root-door.locales:
  - de
  - es
  - fr
recipe.root-door.de.name: √Wurzel Tur
recipe.root-door.es.name: √Puerta de raíz
recipe.root-door.fr.name: √Porte de racine
recipe.root-door.rows: 
  - DDD
  - DID
  - DDD
recipe.root-door.mats: 
  - D=DIAMOND
  - I=IRON_DOOR
recipe.root-door.output: IRON_DOOR

recipe.root-door.listeners: 
  - com.blocktyper.magicdoors.RootDoorListener
  
################## END Root Door ############
  
  
  
  
################## BEGIN Owned Root Door ############
recipe.owned-root-door.name: √Owned Root Door
recipe.owned-root-door.locales:
  - de
  - es
  - fr
recipe.owned-root-door.de.name: √Besitzte Wurzel Tur
recipe.owned-root-door.es.name: √Mi Puerta de raíz
recipe.owned-root-door.fr.name: √Ma Porte de racine
recipe.owned-root-door.rows: 
  - DED
  - DID
  - DDD
recipe.owned-root-door.mats: 
  - D=DIAMOND
  - E=EMERALD
  - I=IRON_DOOR
recipe.owned-root-door.output: IRON_DOOR

################## END Owned Root Door ############


################## BEGIN ROOT DOOR COPY #################
recipe.root-door-copy.name: √Root Door Copy
recipe.root-door-copy.locales:
  - de
  - es
  - fr
recipe.root-door-copy.de.name: √Wurzel Tur Kopie
recipe.root-door-copy.es.name: √Puerta de raíz Copia
recipe.root-door-copy.fr.name: √Porte de racine Copie
recipe.root-door-copy.rows: 
  - OEO
  - ODO
  - OWO
recipe.root-door-copy.mats: 
  - E=EMERALD
  - O=OBSIDIAN
  - W=WATER_BUCKET
  - D=IRON_DOOR
recipe.root-door-copy.output: IRON_DOOR
recipe.root-door-copy.item-has-nbt-key: 
  - 4=root-door
recipe.root-door-copy.keep: 
  - NYN
  - NYN
  - NNN

################## END ROOT DOOR COPY #################




############ BEGIN Door Key ##########
recipe.door-key.name: Door Key
recipe.door-key.locales:
  - de
  - es
  - fr
recipe.door-key.de.name: Türschlüssel
recipe.door-key.es.name: Llave de la puerta
recipe.door-key.fr.name: Clé de la porte
recipe.door-key.rows: 
  - AYA
  - ADA
  - ALA
recipe.door-key.mats: 
  - Y=YELLOW_FLOWER
  - A=AIR
  - D=IRON_DOOR
  - L=LAVA_BUCKET
recipe.door-key.item-has-nbt-key: 
  - 4=root-door-copy
recipe.door-key.output: YELLOW_FLOWER
recipe.door-key.keep: 
  - NNN
  - NYN
  - NNN
recipe.door-key.listeners: 
  - com.blocktyper.magicdoors.KeyPlaceListener
  
############ END Door Key ##########



############ BEGIN Skeleton Key ##########
recipe.skeleton-key.name: Skeleton Key
recipe.skeleton-key.locales:
  - de
  - es
  - fr
recipe.skeleton-key.de.name: Dietrich
recipe.skeleton-key.es.name: Llave maestra
recipe.skeleton-key.fr.name: Passe-partout
recipe.skeleton-key.rows: 
  - ABA
  - ADA
  - ALA
recipe.skeleton-key.mats: 
  - B=BONE
  - A=AIR
  - D=IRON_DOOR
  - L=LAVA_BUCKET
recipe.skeleton-key.item-has-nbt-key: 
  - 4=root-door-copy
recipe.skeleton-key.output: BONE
recipe.skeleton-key.keep: 
  - NNN
  - NYN
  - NNN

  
############ END Skeleton Key ##########





messages.magic-doors-door.de: Magische Tür
messages.magic-doors-key.de: Magischer Türschlüssel
messages.magic-doors-you-placed-a-magic-door.de: §2Du hast eine magische Tür mit der ID %s plaziert.
messages.magic-doors-attempted-to-place-orphan-door.de: §4Sie haben versucht, eine Waise Tür zu setzen.
messages.magic-doors-root-door-copy-imprinted.de: §2%s wurde markiert und kann nun plaziert werden.
messages.magic-doors-key-imprinted.de: §2%s wurde markiert
messages.magic-doors-named-key-required.de: §4Eine Magischer Türschlüssel mit dem Namen [%s] ist erforderlich, um diese Tür zu verwenden.
messages.magic-doors-root-has-no-children.de: §4%s hat noch keine Kinder
messages.magic-doors-failed-to-find-child-door-number.de: §4Fehler beim Kind Tür {0} von {1}. finden
messages.magic-doors-failed-to-find-world.de: §4Die Welt {0} konnte nicht gefunden werden
messages.magic-doors-you-have-been-teleported-to-child.de: §2Du wurdest zur Tür {0} der Tür Familie {1} teleportiert
messages.magic-doors-failed-to-find-parent-door-id.de: §4Keine verbundene Tür mit der Mutter-ID {0} konnte gefunden werden.
messages.magic-doors-you-have-been-teleported-to-root.de: §2Du wurdest zur Wurzeltür der Familie {0} teleportiert



magic.doors.door.name.prefixes: 
  - addicting
  - afraid
  - agreeable
  - amused
  - ancient
  - angry
  - annoyed
  - anxious
  - arrogant
  - ashamed
  - average
  - awful
  - bad
  - beautiful
  - better
  - big
  - bitter
  - black
  - blue
  - boiling
  - brave
  - breezy
  - brief
  - bright
  - broad
  - broken
  - bumpy
  - calm
  - careful
  - charming
  - cheerful
  - chilly
  - clumsy
  - cold
  - colossal
  - combative
  - comfortable
  - confused
  - cooing
  - cool
  - cooperative
  - courageous
  - crazy
  - creepy
  - cruel
  - cuddly
  - curly
  - curved
  - damp
  - dangerous
  - deafening
  - deep
  - delightful
  - depressed
  - determined
  - dirty
  - disgusted
  - disturbed
  - dizzy
  - dry
  - dull
  - dusty
  - eager
  - early
  - elated
  - embarrassed
  - empty
  - encouraging
  - energetic
  - enthusiastic
  - envious
  - evil
  - excited
  - exuberant
  - faint
  - fair
  - faithful
  - fantastic
  - fast
  - fat
  - few
  - fierce
  - filthy
  - fine
  - flaky
  - flat
  - fluffy
  - foolish
  - forlorn
  - frail
  - frantic
  - fresh
  - friendly
  - frightened
  - funny
  - fuzzy
  - gentle
  - giant
  - gigantic
  - good
  - gorgeous
  - greasy
  - great
  - green
  - grieving
  - grubby
  - grumpy
  - handsome
  - happy
  - hard
  - harsh
  - healthy
  - heavy
  - helpful
  - helpless
  - high
  - hilarious
  - hissing
  - hollow
  - homeless
  - horrible
  - hot
  - huge
  - hungry
  - hurt
  - hushed
  - husky
  - icy
  - ill
  - immense
  - itchy
  - jealous
  - jittery
  - jolly
  - juicy
  - kind
  - large
  - late
  - lazy
  - light
  - little
  - lively
  - lonely
  - long
  - loose
  - loud
  - lovely
  - low
  - lucky
  - magnificent
  - mammoth
  - many
  - massive
  - melodic
  - melted
  - mighty
  - miniature
  - moaning
  - modern
  - mute
  - mysterious
  - narrow
  - nasty
  - naughty
  - nervous
  - new
  - nice
  - nosy
  - numerous
  - nutty
  - obedient
  - obnoxious
  - odd
  - old
  - orange
  - ordinary
  - outrageous
  - panicky
  - perfect
  - petite
  - plastic
  - pleasant
  - precious
  - pretty
  - prickly
  - proud
  - puny
  - purple
  - purring
  - quaint
  - quick
  - quickest
  - quiet
  - rainy
  - rapid
  - rare
  - raspy
  - ratty
  - red
  - relieved
  - repulsive
  - resonant
  - ripe
  - roasted
  - robust
  - rotten
  - rough
  - round
  - sad
  - salty
  - scary
  - scattered
  - scrawny
  - screeching
  - selfish
  - shaggy
  - shaky
  - shallow
  - sharp
  - shivering
  - short
  - shrill
  - silent
  - silky
  - silly
  - skinny
  - slimy
  - slippery
  - slow
  - small
  - smart
  - smiling
  - smooth
  - soft
  - solid
  - sore
  - sour
  - spicy
  - splendid
  - spotty
  - square
  - squealing
  - stale
  - steady
  - steep
  - sticky
  - stingy
  - straight
  - strange
  - striped
  - strong
  - stupendous
  - successful
  - sweet
  - swift
  - tall
  - tame
  - tan
  - tart
  - tasteless
  - tasty
  - tender
  - tender
  - tense
  - terrible
  - testy
  - thirsty
  - thoughtful
  - thoughtless
  - thundering
  - tight
  - tiny
  - tired
  - tough
  - tricky
  - troubled
  - ugliest
  - ugly
  - uneven
  - upset
  - uptight
  - vast
  - victorious
  - vivacious
  - voiceless
  - wasteful
  - watery
  - weak
  - weary
  - wet
  - whispering
  - wicked
  - wide
  - wide-eyed
  - witty
  - wonderful
  - wooden
  - worried
  - x-ray
  - yellow
  - young
  - yummy
  - zany

magic.doors.door.name.suffixes: 
  - potter
  - snake
  - wizard
  - magi
  - noble
  - nightly
  - turing
  - asimov
  - heinlin
  - martin
  - rowling
  - tolkien
  - gaiman
  - piccard
  - riker
  - atwood
  - vonnegut
  - palinuk
  - sidharth
  - dragon
  - donkey
  - lannister
  - stark
  - steve
  - alex
















  
  
  
  
  
  